## SQL Practice Problems
### 57 beginning, intermediate, and advanced challenges for you to solve using a “learn-by-doing” approach
#### MySQL version
##### Sylvia Moestl

/*20. Categories, and the total products in each category
For this problem, we’d like to see the total number of products 
in each category. Sort the results by the total number of 
products, in descending order.*/

In [ ]:
SELECT * FROM categories;
SELECT * FROM products;

SELECT c.categoryname, COUNT(*) AS total_products
FROM products p
JOIN categories c
	ON p.categoryid=c.categoryid
GROUP BY c.categoryname
ORDER BY 2 DESC;

/*21. Total customers per country/city
In the Customers table, show the total number of customers per 
Country and City.*/

In [ ]:
SELECT * FROM customers;

SELECT COUNT(contactname) AS total_customers, city, country
FROM customers
GROUP BY country, city
ORDER BY 1 DESC;

/*22. Products that need reordering
What products do we have in our inventory that should be 
reordered? For now, just use the fields UnitsInStock and 
ReorderLevel, where UnitsInStock is less than or equal 
to the ReorderLevel, Ignore the fields UnitsOnOrder 
and Discontinued. Sort the results by ProductID.*/

In [ ]:
SELECT productid, productname, unitsinstock, reorderlevel 
FROM products
WHERE unitsinstock <= reorderlevel
ORDER BY productid;

/*23. Products that need reordering, continued
Now we need to incorporate these fields — UnitsInStock, 
UnitsOnOrder, ReorderLevel, Discontinued—into our 
calculation. We’ll define “products that need 
reordering” with the following:
• UnitsInStock plus UnitsOnOrder are less than or equal to ReorderLevel
• The Discontinued flag is false (0).*/

In [ ]:
SELECT productid, productname, unitsinstock, unitsonorder, reorderlevel, discontinued
FROM products
WHERE (unitsinstock + unitsonorder) <= reorderlevel
AND discontinued = false;

/*24. A salesperson for Northwind is going on a business trip to 
visit customers. He would like to see a list of all customers, 
sorted by region, alphabetically. However, he wants the customers 
with no region (null in the Region field) to be at the end, 
instead of at the top, where you’d normally find the null values. 
Within the same region, companies should be sorted by CustomerID.*/

In [ ]:
SELECT  customerid, 
        companyname, 
        region
FROM customers
ORDER BY  CASE 
                WHEN region IS NULL THEN 1 
                ELSE 0 
          END, 
          3, 1;

/*25.  Some of the countries we ship to have very high freight charges. 
We'd like to investigate some more shipping options for our customers, 
to be able to offer them lower freight charges. Return the three ship 
countries with the highest average freight overall, in descending 
order by average freight.*/

In [ ]:
SELECT  shipcountry,
        ROUND(AVG(freight), 2) AS average_freight
FROM orders
GROUP BY shipcountry
ORDER BY 2 DESC
LIMIT 3
;

/*26. We're continuing on the question above on high freight charges. Now, instead of using all the orders we have, we only want to see orders from the year 2015.*/

In [ ]:
SELECT  shipcountry,
        ROUND(AVG(freight), 2) as average_freight
FROM orders
WHERE YEAR(orderdate) = 2015
GROUP BY 1
ORDER BY 2 DESC
LIMIT 3
;


Alternate Syntaxes
-- WHERE DATE_FORMAT(orderdate, '%Y') = 2015
-- Where
          OrderDate >= '2015-01-01'
          and OrderDate < '2016-01-01'

<img src="Screen Shot 2020-01-23 at 11.47.12 AM.png">

/*27. Another (incorrect) answer to the problem above is this: <br/>

Select <br/>
ShipCountry <br/>
,avg(freight) as AverageFreight <br/>
From Orders <br/>
Where <br/>
OrderDate between '2015-01-01' and '2015-12-31' <br/>
Group By ShipCountry <br/>
Order By AverageFreight desc <br/>
Limit 3; <br/>

Notice when you run this, it gives Sweden as the ShipCountry 
with the third highest freight charges. However, this is wrong
 — it should be France. Find the OrderID that is causing 
 the SQL statement above to be incorrect.*/

In [ ]:
SELECT  shipcountry,
        ROUND(AVG(freight), 2) as average_freight
FROM orders
WHERE
        orderdate BETWEEN '2015-01-01' AND '2015-12-31'
GROUP BY 
        shipcountry
ORDER BY 
        average_freight DESC
LIMIT 3
;

<img src="Screen Shot 2020-01-23 at 11.40.45 AM.png">

In [ ]:
SELECT
        orderid,
        shipcountry,
        orderdate,
        freight
FROM 
        orders
WHERE
        YEAR(orderdate) = 2015
        AND shipcountry = 'france'
ORDER BY 2
;

<img src="Screen Shot 2020-01-23 at 11.50.00 AM.png">

In [ ]:
SELECT
        orderid,
        shipcountry,
        orderdate,
        freight
FROM 
        orders
WHERE
        orderdate BETWEEN '2015-01-01' AND '2015-12-31'
        AND shipcountry = 'france'
ORDER BY 2
;

<img src="Screen Shot 2020-01-23 at 11.51.52 AM.png">

In [ ]:
SELECT
        orderid,
        shipcountry,
        orderdate,
        freight
FROM 
        orders
WHERE
        YEAR(orderdate) = 2015
        AND shipcountry = 'sweden'
ORDER BY 2
;

<img src="Screen Shot 2020-01-23 at 11.53.37 AM.png">

In [ ]:
SELECT
        orderid,
        shipcountry,
        orderdate,
        freight
FROM 
        orders
WHERE
        orderdate BETWEEN '2015-01-01' AND '2015-12-31'
        AND shipcountry = 'sweden'
ORDER BY 2
;

<img src="Screen Shot 2020-01-23 at 11.53.44 AM.png">

### orderdate is a DATETIME datatype, therefore,'2015-12-31' in your query is equivalent to 2015-12-31 00:00:00.000.
### In the incorrect query, this would leave recordid 10806 out of the calculation as its datetime is 2015-12-31 11:00:00.000. Without this value, Sweden jumps ahead of France in the calculation.

<img src="Screen Shot 2020-01-23 at 11.56.32 AM.png">

/*28. High Freight Charges — Last Year
We're continuing to work on high freight charges. We now want 
to get the three ship countries with the highest average freight 
charges. But instead of filtering for a particular year, we want 
to use the last 12 months of order data, using as the end date 
the last OrderDate in Orders.*/

In [ ]:
SELECT 
        shipcountry,
        ROUND(AVG(freight), 2) AS average_freight
FROM orders
WHERE
        orderdate >= 
            DATE_ADD((SELECT MAX(orderdate) FROM orders), INTERVAL -1 YEAR) 
            -- The DATE_ADD() function adds a time/date interval to a date and then returns the date
GROUP BY 1
ORDER BY 2 DESC
LIMIT 3;

<img src="Screen Shot 2020-01-23 at 1.33.12 PM.png">

/*29. Employee/Order Detail Report
We're doing inventory, and need to show Employee and Order Detail 
information like the below, for all orders. 
Sort by OrderID and Product ID.*/

In [ ]:
SELECT 
        e.employeeid,
        e.lastname,
        o.orderid,
        p.productname,
        od.quantity
FROM employees e
    JOIN orders o
        ON e.employeeid = o.employeeid
    JOIN orderdetails od
        ON o.orderid = od.orderid
    JOIN products p
        ON od.productid = p.productid
ORDER BY 3, p.productid
;

/*30. Customers With No Orders
There are some customers who have never actually 
placed an order. Show these customers.*/

In [ ]:
SELECT  c.customerid,
        o.orderid
FROM customers c
    LEFT JOIN orders o
        ON c.customerid = o.customerid
WHERE o.orderid IS NULL

<img src="Screen Shot 2020-01-25 at 11.34.49 AM.png">

/*31. Customers With No Orders For EmployeeID 4
One employee (Margaret Peacock, EmployeeID 4) has 
placed the most orders. However, there are some 
customers who've never placed an order with her. 
Show only those customers who have never placed
 an order with her.*/

In [ ]:
SELECT  c.customerid,
        o.customerid
FROM customers c
    LEFT JOIN orders o
        ON   o.customerid = c.customerid
        AND o.employeeid = 4 
WHERE o.customerid IS NULL

# Because the filters in the Where clause are applied 
# after the results of the Join, we need the 
# EmployeeID = 4 filter in the Join clause, instead 
# of the Where clause. 

# This query returns all of the
# rows from the customers table and all the rows from 
# the orders table where the employeeid = 4. For the
# rows in the customers table without a match from the
# orders table, a NULL value will be returned in the
# employeeid field and the customerid field. I then
# return just those NULL customers as they are the 
# customers that have never ordered from employee #4.)

<img src="Screen Shot 2020-01-25 at 1.05.39 PM.png">

In [ ]:
<img src="Screen Shot 2020-01-23 at 11.53.44 AM.png">